body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   color:  #282c34;
}

.logo {
   padding-left: 0;
   font-size: 2em;
   margin-top: 0.7em;
}

p {
  font-size: 1.2em;
}

a.header.logo span{
  color: #F6075C;
}

.right-menu {
  padding-right: 0;
}

.main-title {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 2.8em;
    margin-bottom: 0;
    margin-top: 0.5em;
}


.main-subtitle {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1.3em;
    margin-top: 0.2em;
    color: 'rgb(157, 158, 160)'
}

.main-banner {
	height: '80vh';
    background-image: "https://cdn.pixabay.com/photo/2019/04/04/17/58/hong-kong-4103334_960_720.jpg";
}

h1.ui.header.main-title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 2.8em;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 0.5em;
}

h2.ui.header {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.3em;
  font-weight: normal;
  margin-top: 0.2em;
  color: rgb(157, 158, 160);
}

p {
  font-size: 1.2em;
}

a, a:hover {
  color: #000;
  cursor: 'cursor';
}

h1 .ui.header.main-title ,
h2 .ui.header {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
  margin-bottom: 0;
}

.ui.button.login {
  margin-left: 0.5em;
  background-color:#fff;                                      
  color:#F6075C;
  border: 1px solid #F6075C;
  cursor: 'cursor';
}
.ui.secondary.menu .item,
.ui.vertical.menu > .item {
  cursor: pointer;
}

h2 .ui.header {
  color: rgb(157, 158, 160);
  margin-top: 0.2em;
}

.ui.large.button {
  background-color:#fff;
  color:#F6075C;
  border: 2px solid #F6075C;
  cursor: 'cursor';
}

.ui.button.customButton {
  border: 2px solid #f6075c;
  color:#f6075c;
  background-color:#fff;
  cursor:'cursor';
  margin-top: 1em;
}

.ui.menu a.item:hover:not(.logo),
.ui.secondary.menu a.item:hover {
  background: #fff2f6;
  color: #f6075c;
}

a.ui.button:hover,
button.ui.large.button:hover {
  background: #f6075c;
  color: #fff;
}

.ui.menu a.item.logo:hover {
  background: #fff;
  color: #f6075c;
}

.explore-more-button {
  margin-top: 2em;
}
            
@media screen and (max-width: 768px) {

	.main-title {
	font-size: 2em;
	margin-top: 1.5em;
	}

  p {
    font-size: 1em;
  }

  .ui.grid .ui.stackable.grid,
  .ui.grid.container {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  #Live {
    margin: 4em 0 0 !important;
  }

  img.ui.small.bordered.rounded.image.live-section-img-mobile {
    display: none;
  }

  .ui.vertical.segment {
    border-bottom: 0px solid #fff;
}

  .ui.container {
    margin-left: 2em !important;
    margin-right: 2em !important;
  }

  .ui.container .text {
    margin-left: 1em !important;
    margin-right: 1em !important;
  }

  
  .column,
  .eight .wide .column,
  .ui.centered.container.stackable.four.column.grid {
    margin-left: 1em !important;
    margin-right: 1em !important;
  }

  h4.ui.inverted.header:last-child {
    margin-top: 4em;
  }

}